#title
{
    color:green;
    text-align: center;
}

.house
{
    border:2px dashed black;
    padding:15px;
    margin:15px;
}

.pupuke
{
    background-color: blue;
}
.smale
{
    background-color: green;
}
.stanley
{
    background-color: red;
}
.ururoto
{
    background-color: black;
}
.murchison
{
    background-color: white;
}
.hood
{
    background-color: darkred;
}
